<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lz.pretty.module.system.mapper.MySystemMapper">

    <select id="selectOrgTree"
            resultType="com.lz.pretty.module.system.model.SysOrg">
        SELECT id,org_pid,org_pids,is_leaf,org_name,address,phone,email,org_sort,level,status
        FROM sys_org o
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (org_pids like CONCAT('%[',#{rootOrgId},']%') OR id = #{rootOrgId})
            <if test="orgNameLike !=null and orgNameLike != '' ">
                AND org_name like CONCAT('%',#{orgNameLike},'%')
            </if>
            <if test="orgStatus !=null  ">
                AND status = #{orgStatus}
            </if>
        </trim>
        ORDER BY level,org_sort
    </select>

    <select id="selectMenuTree"
            resultType="com.lz.pretty.module.system.model.SysMenu">
        SELECT id,menu_pid,menu_pids,menu_name,menu_sort,is_leaf,url,icon,level,status,hidden,view_import
        FROM sys_menu m
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (menu_pids like CONCAT('%[',#{rootMenuId},']%') OR id = #{rootMenuId})
            <if test="menuNameLike !=null and menuNameLike != '' ">
                AND menu_name like CONCAT('%',#{menuNameLike},'%')
            </if>
            <if test="menuStatus !=null  ">
                AND status = #{menuStatus}
            </if>
        </trim>
        ORDER BY level,menu_sort
    </select>

    <select id="selectApiTree" resultType="com.lz.pretty.module.system.model.SysApi">
        SELECT id,api_pid,api_pids,is_leaf,api_name,url,api_sort,level,status
        FROM sys_api a
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (api_pids like CONCAT('%[',#{rootApiId},']%') OR id = #{rootApiId})
            <if test="apiNameLike !=null and apiNameLike != '' ">
                AND api_name like CONCAT('%',#{apiNameLike},'%')
            </if>
            <if test="apiStatus !=null  ">
                AND status = #{apiStatus}
            </if>
        </trim>
        ORDER BY level,api_sort
    </select>

    <!--接口权限相关-->
    <select id="selectApiExpandedKeys" resultType="java.lang.String">
        SELECT distinct id
        FROM sys_api
        WHERE level = 2
    </select>

    <select id="selectApiCheckedKeys" resultType="java.lang.String">
        SELECT distinct api_id
        FROM sys_role_api
        WHERE role_id = #{roleId}
    </select>

    <insert id="insertRoleApiIds">
        INSERT into sys_role_api(role_id, api_id) VALUE
        <foreach collection="checkedIds" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>

    <!--菜单权限相关-->
    <select id="selectMenuExpandedKeys" resultType="java.lang.String">
        SELECT distinct id
        FROM sys_menu
        WHERE level = 2
    </select>

    <select id="selectMenuCheckedKeys" resultType="java.lang.String">
        SELECT distinct menu_id
        FROM sys_role_menu
        WHERE role_id = #{roleId}
    </select>

    <insert id="insertRoleMenuIds">
        INSERT into sys_role_menu(role_id, menu_id) VALUE
        <foreach collection="checkedIds" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>


</mapper>
